
<div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">
    Username: alex123<br />
    Password: alex123
  </div>
  <div class="card">
    <h4 class="card-header">Angular 8 JWT Login Example</h4>
    <div class="card-body">
      <div class="col-md-6 login-container">
        <h2 style="margin: auto">Login </h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">UserName:</label>
            <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
            <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username is required</div>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
            <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is required</div>
          </div>
          <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
          <div *ngIf="invalidLogin" class="error">
            <div>Invalid credentials.</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

